.customized_navigation{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid grey;

    .cn-item{
        max-width: 33%;
        border-right: 2px solid grey;
        max-height: 40px;
        line-height: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 33%;

        &:last-child{
            border-right: none;
        }
    }

    .cn_animation{
        img {
            max-width: 100%;
            height: 99%;
        }
    }
    .cn_link {
        a{
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            img{
                max-height: 60%;;
            }
        }
    }

    .cn_animation,
    .cn_stats,
    .cn_link{
        max-width: 33%;
    }
}